@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Indie+Flower&family=Josefin+Sans&family=Open+Sans:wght@400;700&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Titillium Web', sans-serif;
    background-color: #0e668b;
  }
  
  body {
    background-color: #82d9ff;
    min-height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    color: #030303;
  }

  header {
    background-color: #8baebd;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0rem;
    font-weight: bold;
  }
  

  header h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    text-transform: uppercase;
  }

  header a {
    color: #000;
    text-decoration: none;
  }

  .profile a:hover {
    color: #ffffff;

  }

  section {
    padding: 1.5rem 1rem 1rem 1rem;
  }

  section h1 {
    margin-bottom: 1rem;
  }

  hr {
    border: none;
    border-top: solid #0e668b 2px;
    margin: 1rem;
  }
  
  
  footer {
    font-family: 'Indie Flower', cursive;
    font-size: 1.0rem;
    text-align: center;
    color: #020202;
  }

  .tapahtumat {
    background-color: #0e668b;
    color: #fff;
    border: #000000 solid 1px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .tapahtumat a {

    text-decoration: none;
    color: #fff;
  }

  .tapahtumat a:hover {
    color: #4eb2fa;
  }
  
  .tapahtumat > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tapahtumat > div > .nimi {
    width: 33.33%
}

.tapahtumat > div > .aika {
    width: 33.33%
}

.tapahtumat > div > div:nth-child(3) {
    text-align: right;
  }
  
  .tapahtumat > div { 
    display: flex;
    justify-content: space-between;
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  
  input {
    border: 1px solid #1e4263;
    border-radius: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
  }

  input[type=submit] {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #073447;
    color: #fff;
    font-weight: bold;
    min-width: 10rem;
    margin: 0.5rem auto;
  }

  .error {
    color: rgb(185, 0, 0);
    font-size: 1.0rem;
    font-weight: bold;
  }

  .info {
    background-color: #8baebd;
    border: 2px solid #0e668b;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .info a {
    color: #004da4;
    text-decoration: none;
  }

  .info a:hover {
    color: #ffffff;
  }

nav {  
  background-color: #5f757e;
  color:#000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav a {
  color:#000;
  text-decoration: none;
}